<ul>
    <li><label><h3 id="welcome">Welcome</h3></label></li>
    <li><img src="{{profilepic}}" width="64" height="64"></li>
    <li><label><h6 class="toolBarText" style="padding-left: 10px"> {{name}}</h6></label></li>
    <li><div class="toolBarText" style="padding-top: 6px"><label class="btn btn-secondary">+<input type="file" style="display: none" accept="image/*" (change)="profileImage($event)"></label></div></li>
    <li><button id="logoutButton" class="toolBarButton" (click)="Logout()">Log out</button></li>
</ul>
<div style="padding: 4px">
    
</div>

<body>
    <div class="grid-container">
    <div>
    <h2 style="padding-top: 35px; padding-left: 10px; color: rgb(50, 34, 87)">Groups</h2>
    <div *ngFor="let group of groups let i=index let c=count" style="padding: 10px">

        <div class="card card-success roomCard">
           <div class="container">
               <div class="row">
                <div class="col-sm"><label class="roomName">{{group.groupName}}:</label></div>
                <div class="col-sm"><label (click)="click()" class="roomUsers">{{group.users.length}} Members <br> {{group.rooms.length}} Rooms</label></div>
                </div>
            </div>
        <br>
     
            <div *ngFor="let room of group.rooms" style="padding: 2px">
               
                <button class="roomButton btn btn-outline-secondary" (click)="JoinRoom(group.groupName, room)">{{room}}</button>
        
            </div>
            <div *ngIf="userLevel > 1">
                <label class="adminPanel">Group Settings</label>
                <div class="container" style="position: relative; padding-left: 20px">
                    <div class="row">
                        <div class="col-" style="padding: 4px"><button class="btn addButton" (click)="addUser(group.groupName)">Add User</button></div>
                        <div class="col-" style="padding: 4px"><button class="btn removeButton" (click)="removeUser(group.groupName)">Remove User</button></div>
                    </div>
                    <div class="row">
                        <div class="col-" style="padding: 4px"><button class="btn addButton addRoomButton" (click)="addChannel(group.groupName)">Add Channel</button></div>
                        <div *ngIf="userLevel > 2" class="col-" style="padding: 4px"><button class="btn removeButton" (click)="removeChannel(group.groupName)">Remove Channel</button></div>
                </div>
                <div class="row" style="padding: 5px">
                    <input placeholder="Name" class="form-control roomInput" [(ngModel)]="inputField">
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div style="padding: 10px" *ngIf="userLevel > 2">
        <h3>Admin Controls</h3>
            <input id="serverInput" placeholder="Name" class="form-control" style="width: 6.8cm" [(ngModel)]="groupInputField">
        </div>
        <br>
        <div class="container" style="position: absolute; left:7px">
            <div class="row"  *ngIf="userLevel > 2">
                <div class="col-" style="padding: 4px">
                    <button id="addButton" (click)="addGroup()" class="btn btn-success" style="background-color: rgb(67, 181, 129)">Add Group</button>
                </div> 
                <div class="col-" style="padding: 4px">
                    <button (click)="removeGroup()" class="btn btn-danger" style="background-color: rgb(240, 71, 64)">Remove Group</button>
                </div>
            </div>
            <div class="row">
                <div class="col-" style="padding: 4px">
                    <button (click)="promoteUser(2)" *ngIf="userLevel > 2" style="width: 6.5cm; text-align: center" class="btn outlinehl btn-outline-primary">Promote User</button>
                </div>
            </div>
            <div class="row" *ngIf="userLevel > 2" style="padding: 4px">
                    <button (click)="newUser()" class="btn btn-primary" style="width: 6.5cm; text-align: center">Register new User</button>
                </div>
        </div>
</div>
<div *ngIf="isInRoom" style="padding-top: 1.5cm">
    <h4>{{currentServer}} : {{currentRoom}}</h4>
    <div>
        <div class="card" style="width: 96%; height: 20cm; overflow-y: auto">
            <div class="card-body">
                <div style="height:90%">
                    <div *ngFor="let message of messages">
                        <img *ngIf="message.profile != null" width="64" height="64" src={{message.profile}}>
                        <h6 id="messageName" *ngIf="message.name != null">{{message.name}}:</h6>  
                        <br><h6 id="messageContent">{{message.message}}</h6><img *ngIf="message.image != null" src="images\{{message.image}}">
                        <hr>
                    </div>
                    <br></div>
            </div>
        </div>
    </div>
    <div class="input-group mb-3" style="width: 39.5cm">
        <div class="input-group-prepend"><label class="btn btn-secondary">+<input type="file" style="display: none" accept="image/*" (change)="sendImage($event)"></label></div>
        <input id="messageInput" [(ngModel)]="currentMessage" class="form-control" placeholder="Message">
        <div class="input-group-append">
            <button id="sendButton" (click)="sendMessage()" class="btn btn-secondary">SEND</button>
        </div>
    </div>
    
</div>
<div>
</div>
<br>
</div>    
</body>

