<ul>
    <li><label><h3>Welcome </h3></label></li>
    <li><label><h6 class="toolBarText"> {{name}}</h6></label></li>
    <li><button class="toolBarButton">Log out</button></li>
</ul>

<body>
    <h2 style="padding-top: 35px; padding-left: 10px; color: rgb(50, 34, 87)">Rooms</h2>
    <div *ngFor="let group of groups let i=index let c=count" style="padding: 10px">
        <div class="card card-success roomCard">
        <label class="roomName">{{group.groupName}}:</label>
        <br>
        <div *ngFor="let room of group.rooms" style="padding: 2px">
            <label>{{room}}</label>
           <!--- <button class="btn btn-primary roomButton"(click)="JoinRoom(group.groupName, room)">Join</button>-->
        </div>
        </div>
    </div>

    <div *ngIf="userLevel > 1">
        <label>Greater than 1</label>
    </div> 
    
</body>
